.c-post-listing {
  list-style: none;
  padding: 0;
}

.c-post-listing__item {
  background-color: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  display: block;
  margin-bottom: 8px;
  padding: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

