{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    ["es2015", {"modules": false}],
    "react",
    "stage-3"
  ],
  "plugins": [
    "syntax-dynamic-import"
  ]
}