{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true,
    "describe": true,
    "it": true,
    "navigator": true,
    "window": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "no-unused-vars": [2, { "args": "none" }],
    "import/order": 2,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/prop-types": [2, { "ignore": [
      "children",
      "route",
      "location",
      "className"
    ]}]
  }
}