{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": [2, "never"],
    "max-len": [2, { "code": 120 }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/img-has-alt": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [2, { "ignore": ["children", "className"] }]
  }
}