@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/open_sans/OpenSans-Regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/open_sans/OpenSans-Bold.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}
@import "components/Posts/components.post-listing";
