@font-face {
  font-family: 'Open Sans';
  font-display: block;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0,0,0,.02);
}

@import "components/Nav/components.nav";
@import "components/components.content";