@font-face {
  font-family: 'Roboto';
  src: url(./fonts/roboto-v16-latin-regular.woff) format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/roboto-v16-latin-900.woff) format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', serif;
}